@import "nullstyle.css";

body {
    background: #FFFFF0;
    font-family: 'Inter', sans-serif;
}
.container-fluid {
    padding: 0;
    position: relative;
    min-height: 100%;
}

/*header*/
.header__header {
    width: 100%;
}
/*header-top*/
.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #FFFFE0;
    height: 110px;
    padding: 5px 0 0 0;
}
.header__logo {
    height: 100px;
}
.header__logo img {
    height: 100%;
}
.header__top-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding: 15px 0 0 0;
}
.header__name {
    max-width: 184px;
}
.header__name h1,
.header__location h2 {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 120%;
    color: #FF4500;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.header__tel {
    display: flex;
    flex-direction: column;
}
.header__tel p {
    font-weight: 700;
    font-size: 1.2rem;
    color: rgba(61, 58, 53, 0.88);
    /*text-shadow: 0 4px 4px rgba(255, 69, 0, 0.29);*/
    display: flex;
    flex-direction: column;
}
.header__tel p:after {
    content: '';
    padding: 3px 0 0 0;
    width: 100%;
    height: 2px;
    background: #FF4500;
}
.header__description {
    color: rgba(61, 58, 53, 0.88);
    display: flex;
    flex-direction: row;
}
.header__description h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 120%;
    margin: 0 32px 0 0;
}
.header__description li {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 120%;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0 0 0 22px;
}
.header__description li:before {
    content: "";
    width: 10px;
    height: 10px;
    background: #FF4500;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 0;
}
.header__location {}
.header__top-right {}
.header__language {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.header__language-line {
    width: 100%;
    height: 1px;
    background: rgba(61, 58, 53, 0.62);
}
.header__language-uk,
.header__language-ru {
    height: 50%;
    background: #FF7800;
    width: 65px;
    padding: 13px 7px 0 0;
    text-align: right;
}
.header__language-uk a,
.header__language-ru a {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 120%;
    color: rgba(61, 58, 53, 0.62);
}
/*header-nav*/
.header__nav {
    width: 100%;
    height: 60px;
    background: #FFFFEE;
    box-shadow: 0 7px 4px rgba(0, 0, 0, 0.25);
}
.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}
.nav__item {}
.nav__link {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 120%;
    color: #3D3A35;
    text-transform: uppercase;
}
.nav__item-active {
    background: #FF7800;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.25);
}
.nav__item-active .nav__link {
    color: #FFF;
    padding: 5px 8px;
}

/*change lang*/
.nav__select {
    position: relative;
    display: inline-block;
    text-align: left;
    margin: 10px;
}
.nav__select-control {
    position: relative;
    padding: 5px 35px 5px 10px;
    border: 3px solid rgba(197, 193, 193, 0.57);
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 120%;
    color: #3D3A35;
}
.nav__select-control:after {
    content: '';
    border: 5px solid transparent;
    border-top: 5px solid #999;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -3px;
}
.nav__select ul {
    display: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    max-height: 200px;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #dadada;
    border-top: none;
    background: #fff;
    z-index: 9999;
    overflow: auto;
    user-select: none;
}
.nav__select li {
    display: block;
    margin: 0;
    padding: 0;
}
.nav__select li a {
    position: relative;
    display: block;
    margin: 0;
    padding: 4px 6px 4px 15px;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 120%;
    color: #3D3A35;
    cursor: pointer;
    text-decoration: none;
}
.nav__select li a:hover {
    background: #03a2ff;
    color: #fff;
}


@media screen and (max-width: 700px) {
    .body_pointer {
        cursor: pointer;
    }
}




/*main*/
.main {
    padding: 30px 5px 100px;
    max-width: 1200px;
    margin: 0 auto 30px;
    display: flex;
    flex-direction: column;
}
.main section {
    margin-bottom: 30px;
}
.main__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 120%;
    color: #FF4500;
    margin: 0 0 30px 0;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}
.footer:before {
    content: '';
    width: 90%;
    height: 1px;
    background: rgba(0, 0, 0, 0.25);
    margin: 0 auto 30px;
}
.footer__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer__row div:first-child {
    margin: 0 50px 0 0;
}
.footer p {
    font-size: 0.875rem;
    line-height: 120%;
    color: #000;
}
.footer a {
    font-size: 0.875rem;
    line-height: 120%;
    color: #FF4500;
}


/*ADAPTIVE*/
@media (max-width: 1200px) {
    /*    header*/
    .nav__link {
        font-size: 1rem;
    }
    .header__tel p {
        font-size: 1rem;
    }
    .header__name h1 {
        margin: 0 15px 0 0;
    }
    .header__description h2 {
        margin: 0 15px 0 0;
        font-size: 1.25rem;
    }
    .header__description li {
        font-size: 1rem;
    }
}
@media (max-width: 992px) {
    /*    header*/
    .header__location,
    .header__tel {
        display: none;
    }
    .header__description h2 {
        font-size: 1.25rem;
    }
    .header__description li {
        font-size: 1rem;
    }
    .nav__link {
        font-size: 0.825rem;
    }
}
@media (max-width: 767px) {
    .footer {
        padding: 0 5px;
    }
    .footer__row {
        flex-direction: column;
        justify-content: flex-start;
    }
    .footer:before {
        width: 99%;
    }
    .footer__row div:first-child {
        margin: 0;
    }
}

/*BURGER*/
@media (min-width: 767px) {
    .header__burger-language {
        display: none;
    }
}
@media (max-width: 767px) {
    body .overflow-hidden {
        overflow: hidden;
    }
    .header__top {
        display: none;
    }
    .burger__line span,
    .burger__line:before,
    .burger__line:after {
        content: "";
        width: 40px;
        height: 3px;
        background: #FFFFE0;
        position: fixed;
        right: 15px;
        z-index: 10;
    }
    .burger__line:before {
        top: 17px;
    }
    .burger__line span {
        top: 27px;
    }
    .burger__line:after {
        top: 37px;
    }
    .header__header:before {
        content: "";
        width: 100%;
        height: 65px;
        position: fixed;
        top: 0;
        left: 0;
        /*background: #FF7800;*/
        background: #FF7800 url('../img/logo-small.png') 5px 5px no-repeat;
        background-size: 40px;
        z-index: 8;
        box-shadow: 0 6px 4px rgba(0, 0, 0, 0.15);
    }
    .header__nav {
        padding: 60px 0 0 0;
        box-shadow: none;
    }
    .nav__list {
        position: fixed;
        top: -100vh;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 4;
        background: #FFFFE0;
        text-align: right;
        transition: all 0.5s ease 0s;
        overflow: auto;
        flex-direction: column;
        padding: 85px 20px 0 0;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .nav__list.active {
        top: 0;
    }
    .nav__item {
        margin: 0 0 15px 0;
        text-align: right;
    }
    .nav__link {
        font-size: 1.125rem;
    }
    .nav__item-active {
        border: 3px solid rgba(0, 0, 0, 0.25);
    }
    .nav__item:last-child {
        margin: 0 0 25px 0;
    }
    .header__burger-language {
        display: block;
        height: 55px;
    }
    .header__language {
        display: flex;
        flex-direction: row;
    }
    .header__language-uk,
    .header__language-ru {
        background: rgba(0, 0, 0, 0.25);
        height: 100%;
        width: 65px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    /*.header__language-uk {*/
    /*    border-right: 1px solid #3D3A35;*/
    /*}*/
    .nav__change-lang {
        border: rgba(0, 0, 0, 0.25) 2px solid;
        border-radius: 4px;
    }
    .nav__change-lang a {
        text-decoration: underline;
    }
    .header__language-uk a,
    .header__language-ru a {
        color: #fff;
        font-size: 1.125rem;
        font-weight: 400;
    }
    .nav__select {
        display: none;
    }
}